<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>No Netflix No Chill</title>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="mainBody">
  <div id="leftPan">
    <div id="member">
      <p></p>
      <form method="post">
	<h2>It's {{temp}} degrees outside! How about some amazon prime and chill? Click on movie to watch!</h2>
        </form>
      <p class="buttom"></p>
    </div>
    <h2 title="No Netflix No Chill">No Netflix No Chill</h2>
    <div id="leftA">
      
    <br class="blank" />
  </div>
  <div id="rightPan">
    <div id="rightsude">
      <form name="search" method="post" action="#">
      </form>
      <span></span> </div>
    <div id="rightPan1">
      <h2></h2>

      <a class="more" href="#"></a> </div>
  </div>
  <br class="blank" />
</div>
<br><br>.<br>
<table>
<tr><br>
{% set counter = 0 %}
{% for movie in movies %}
{% if counter % 3 == 0 %}
</tr><tr>
{% endif %}
<td><a href={{links[counter]}}><img src="{{movie['poster_240x342']}}" alt="oops"></img></a></td>
{% set counter = counter + 1 %}
{% endfor %}</tr></table>

</body>
</html>
