<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>No Netflix No Chill</title>
<link href="{{url_for('static', filename='style.css')}}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="mainBody">
  <div id="leftPan">
    <div id="member">
      <p></p>
      <form method="post">
		<h2>Is it hot outside or is it just me? It's {{temp}} degrees outside, wow! Here are some movies airing nearby:</h2>
        </form>
      <p class="buttom"></p>
    </div>
    <h2 title="No Netflix No Chill">No Netflix No Chill</h2>
    <div id="leftA">
      
    <br class="blank" />
  </div>
  <div id="rightPan">
    <div id="rightsude">
      <form name="search" method="post" action="#">
      </form>
      <span></span> </div>
    <div id="rightPan1">
{% for movie in movies %}
<h2>{{movie['title']}}</h2>
{% for theatre in movie['theatres'] %}
<p><b>{{theatre['name']}}</b></p><p>
{% for time in theatre['times'] %}
{{time}}
{% endfor %}
</p>
{% endfor %}
<br><br>
{% endfor %}

      <a class="more" href="#"></a> </div>
  </div>
  <br class="blank" />
</div>

</body>
</html>
